div.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    /*background-color: #f5f5f5;*/
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form input {
    margin-bottom: 10px;
    padding: 10px;
    /*border: 1px solid #ddd;*/
    border-radius: 5px;
}

button.action,
  button.login {
    padding: 10px;
    /*background-color: cornflowerblue;*/
    /*color: white;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    /* adjust as needed */
}

div.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}